thead tr td{
    font-weight: bold;
}

.red-tr{
    background: red;
    color: white;
}

div{
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    background: yellow;
}

.active-sort{
    background: blue;
    color: white;
    font-size: 1.2em;
}

.active-sort.reverse-sort{
    background: deeppink;
}